@model GestioneLetterine.Models.Toys

@{
    ViewBag.Title = "TEST: Get All Toys";
}



<h2>TEST: Get All Toys</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Cost</th>
        <th>Amount</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.name</th>
            <th>@item.Cognome</th>
            <th>@item.Email</th>
        </tr>
    }
</table>

